<h1 class="yellow">RECUPERAR CONTRASE&Ntilde;A</h1>
<p>¿Olvidaste tu contrase&ntilde;a? Ingresa tu e-mail a continuaci&oacute;n y te enviar&eacute;mos las instrucciones para recuperarla.</p>
<form id="forgot-password-form" method="post">
    <div class="form-inputs">
        <label for="email">E-mail</label>
        <input name="email" id="email" type="email" required>
    </div>
    <div class="form-inputs center">
        <input class="btn golden full" type="submit" value="Enviar">
    </div>
</form>
<p class="account-links">Panel de usuario<a href="/views/account.html?page=login">Ingresar</a>¿No tienes cuenta?<a href="/views/account.html?page=join">Crear Cuenta</a></p>