<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lineage 2 | Classic</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!-- CSS para normalizar estilos preseteados, un poquito de trampa :D-->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/default.js"></script>
</head>

<body class="body-404">
    <header>
        <div id="header-navigation" class="navigation sticky"></div>
    </header>
    <main class="main-404">
        <h1>404</h1>
        <h2>¿Acaso te perdiste, humano?</h2>
        <a class="btn golden full" href="/">¡SALIR CORRIENDO!</a>
    </main>
    <div class="success"><i class="far fa-times close"></i><span></span></div>

    <footer></footer>
</body>

</html>