<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lineage 2 | Classic</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!-- CSS para normalizar estilos preseteados, un poquito de trampa :D-->
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">

    <script src="../js/default.js"></script>
</head>

<body class="join">
    <header>
        <div id="header-navigation" class="navigation"></div>
    </header>
    <main class="join-main">
        <div class="container form-container">
        </div>
        <div class="success"><i class="far fa-times close"></i><span></span></div>
    </main>
    <footer class="footer-info small"></footer>

</body>

</html>