<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lineage 2 | Classic</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!-- CSS para normalizar estilos preseteados, un poquito de trampa :D-->
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">

    <script src="../js/default.js"></script>
</head>

<body>
    <header class="half-hero news">
        <div id="header-navigation" class="navigation sticky full"></div>
        <div class="hero-content container">
            <div class="texto-hero">
                <h1>Noticias</h1>
            </div>
        </div>
    </header>
    <main class="noticias">
        <div class="container">
            <div class="news-container">
                <div class="main-article">
                    <article class="party article-wrapper">
                        <a href="./article.html" class="article-content">
                            <h3 class="yellow">¡Cumplimos 2 años!</h3>
                            <p>Festejamos nuestro segundo cumplea&ntilde;os con un evento inolvidable. ¿Te lo perdiste? ¡Desc&uacute;brelo aqu&iacute;! <span class="more">Ver más</span></p>
                        </a>
                    </article>
                </div>
                <div class="other-articles">
                    <article class="asedio article-wrapper">
                        <a href="./article.html" class="article-content">
                            <h3 class="yellow">Resultados del Asedio</h3>
                            <p>Aquí los resultados de la disputa mensual de los castillos.<span class="more">Ver más</span></p>
                        </a>
                    </article>
                    <article class="work article-wrapper">
                        <a href="./article.html" class="article-content">
                            <h3 class="yellow">Mantenimiento</h3>
                            <p>Te contamos las mejoras realizadas durante el mantenimiento semanal. <span class="more">Ver más</span></p>
                        </a>
                    </article>
                </div>
            </div>
            <div class="news-container">
                <div class="more">
                    <article class="navidad article-wrapper">
                        <a href="./article.html" class="article-content">
                            <h3 class="yellow">¡Feliz navidad!</h3>
                            <p>Aprovechamos la ocasión para desearles felices fiestas..<span class="more">Ver más</span></p>
                        </a>
                    </article>
                    <article class="verano article-wrapper">
                        <a href="./article.html" class="article-content">
                            <h3 class="yellow">Evento de Verano</h3>
                            <p>¿Calor? Descubre el evento del verano y refréscate.<span class="more">Ver más</span></p>
                        </a>
                    </article>
                </div>
            </div>
        </div>
    </main>
    <div class="success"><i class="far fa-times close"></i><span></span></div>
    <footer></footer>

</body>

</html>