<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lineage 2 | Classic</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!-- CSS para normalizar estilos preseteados, un poquito de trampa :D-->
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">

    <script src="../js/default.js"></script>
</head>

<body>
    <header class="half-hero ranking">
        <div id="header-navigation" class="navigation sticky full"></div>
        <div class="hero-content container">
            <div class="texto-hero">
                <h1>Ranking</h1>
            </div>
        </div>
    </header>
    <main class="info-main">
        <div class="container ranking">
            <div class="content">
                <h2 class="sand">Top Nivel</h2>
                <table class="ranking-table">
                    <thead>
                        <th>N°</th>
                        <th>Avatar</th>
                        <th>Nombre</th>
                        <th>Raza</th>
                        <th>Clase</th>
                        <th>Nivel</th>
                    </thead>
                    <tbody>
                        <tr id="1">
                            <td>1</td>
                            <td class="avatar"><img src="../img/avatar/human-female.png" alt=""></td>
                            <td>Rampage</td>
                            <td>Humano</td>
                            <td>Paladín</td>
                            <td>97</td>
                        </tr>
                        <tr class="even">
                            <td>2</td>
                            <td class="avatar"><img src="../img/avatar/orc-male.png" alt=""></td>
                            <td>Hulk</td>
                            <td>Orco</td>
                            <td>Archer</td>
                            <td>93</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td class="avatar"><img src="../img/avatar/delf-male.png" alt=""></td>
                            <td>Silence</td>
                            <td>Elfo</td>
                            <td>Sanador</td>
                            <td>89</td>
                        </tr>
                        <tr class="even">
                            <td>4</td>
                            <td class="avatar"><img src="../img/avatar/human-male.png" alt=""></td>
                            <td>Edipo</td>
                            <td>Humano</td>
                            <td>Mago</td>
                            <td>83</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td class="avatar"><img src="../img/avatar/elf-male.png" alt=""></td>
                            <td>Revolution</td>
                            <td>Elfo</td>
                            <td>Sanador</td>
                            <td>83</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="content">
                <h2 class="sand">Top PVP</h2>
                <table class="ranking-table">
                    <thead>
                        <th>N°</th>
                        <th>Avatar</th>
                        <th>Nombre</th>
                        <th>Raza</th>
                        <th>Clase</th>
                        <th>PVP</th>
                    </thead>
                    <tbody>
                        <tr id="1">
                            <td>1</td>
                            <td class="avatar"><img src="../img/avatar/human-female.png" alt=""></td>
                            <td>Rampage</td>
                            <td>Humano</td>
                            <td>Paladín</td>
                            <td>986</td>
                        </tr>
                        <tr class="even">
                            <td>2</td>
                            <td class="avatar"><img src="../img/avatar/orc-male.png" alt=""></td>
                            <td>Hulk</td>
                            <td>Orco</td>
                            <td>Archer</td>
                            <td>765</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td class="avatar"><img src="../img/avatar/delf-male.png" alt=""></td>
                            <td>Silence</td>
                            <td>Elfo</td>
                            <td>Sanador</td>
                            <td>457</td>
                        </tr>
                        <tr class="even">
                            <td>4</td>
                            <td class="avatar"><img src="../img/avatar/human-male.png" alt=""></td>
                            <td>Edipo</td>
                            <td>Humano</td>
                            <td>Mago</td>
                            <td>345</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td class="avatar"><img src="../img/avatar/elf-female.png" alt=""></td>
                            <td>Ironie</td>
                            <td>Elfo Oscuro</td>
                            <td>Mago</td>
                            <td>254</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <footer></footer>

</body>

</html>