<div class="redes-sociales">
    <nav class="container">
        <a href="https://www.facebook.com/lineage2/"><i class="fab fa-facebook" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/countess.ironie"><i class="fab fa-instagram" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/lineage2_revolution/?hl=es"><i class="fab fa-twitter" aria-hidden="true"></i></a>
        <a href="https://www.youtube.com/user/lineage2us"><i class="fab fa-youtube" aria-hidden="true"></i></a>
        <a href="https://www.twitch.tv/lineage2us"><i class="fab fa-twitch" aria-hidden="true"></i></a>
    </nav>
</div>
<div class="bar container full">
    <div class="logo logo-white">
        <a href="./">
            <img src="./img/logos/w-logo.png" alt="Logo" class="logo">
        </a>
    </div>
    <div class="logo logo-black">
        <a href="./">
            <img src="./img/logos/l2_logo-color.png" alt="Logo" class="logo">
        </a>
    </div>
    <div class="nav-menu">
        <i class="fas fa-bars js--mobile-nav-icon"></i>
        <nav class="js--main-nav">
            <div class="nav-links">
                <a href="./views/info.html">Informaci&oacute;n</a>
                <a href="./views/ranking.html">Ranking</a>
                <a href="./views/news.html">Noticias</a>
                <a href="./views/account.html?page=login">Ingresar</a>
                <a class="btn white-outline" href="./views/account.html?page=join">Regístrate</a>
                <a class="btn golden full" href="./views/account.html?page=join">Regístrate</a>
            </div>
        </nav>
    </div>
</div>