<h2>Cambiar contraseña</h2>
<form id="change-password" method="post">
    <div class="form-inputs">
        <label for="password">Contrase&ntilde;a actual</label>
        <input name="password" id="password" type="password" required>
    </div>
    <div class="form-inputs">
        <label for="password2">Nueva Contrase&ntilde;a</label>
        <input name="password2" id="password2" type="password" required>
    </div>
    <div class="form-inputs">
        <label for="password3">Reingrese Nueva Contrase&ntilde;a</label>
        <input name="password3" id="password3" type="password" required>
    </div>
    <div class="form-inputs button-wrapper">
        <input class="btn golden full" type="submit" value="Cambiar">
    </div>
    <p class="error">El ingreso de contraseñas es incorrectos. Por favor, vuelve a intentar.</p>
</form>