<h2>Cuenta</h2>
<div class="information account">
    <h3>Detalles de la cuenta</h3>
    <ul>
        <li><span class="feature-char">Usuario:</span>Admin</li>
        <li><span class="feature-char">Email:</span>admin@l2-classic.com</li>
        <li><span class="feature-char">Personaje:</span>3</li>
        <li><span class="feature-char">Creación:</span>10/10/2020</li>
    </ul>
</div>
<div class="information">
    <h3>Personajes creados</h3>
    <div class="chars-wrapper">
        <div class="char">
            <div class="border">
                <div class="select avatar dark selected"></div>
                <div class="info">
                    <h4>Ironie</h4>
                    <ul>
                        <li><span class="feature">Raza:</span>Elfo Oscuro</li>
                        <li><span class="feature">Clase:</span>Mage</li>
                        <li><span class="feature">Nivel:</span>85</li>
                        <li><span class="feature">PVP:</span>254</li>
                        <li><span class="feature">Creación:</span>10/10/2020</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="char">
            <div class="border">
                <div class="select avatar elf selected"></div>
                <div class="info">
                    <h4>Ruby</h4>
                    <ul>
                        <li><span class="feature">Raza:</span>Elfo</li>
                        <li><span class="feature">Clase:</span>Archer</li>
                        <li><span class="feature">Nivel:</span>57</li>
                        <li><span class="feature">PVP:</span>0</li>
                        <li><span class="feature">Creación:</span>10/10/2020</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="char">
            <div class="border">
                <div class="select avatar human selected"></div>
                <div class="info">
                    <h4>Rampage</h4>
                    <ul>
                        <li><span class="feature">Raza:</span>Humano</li>
                        <li><span class="feature">Clase:</span>Paladín</li>
                        <li><span class="feature">Nivel:</span>97</li>
                        <li><span class="feature">PVP:</span>986</li>
                        <li><span class="feature">Creación:</span>10/10/2020</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>