<h2>Administrar Usuarios</h2>
<div class="information">
    <table>
        <thead>
            <th>Usuario</th>
            <th>E-mail</th>
            <th>Personajes</th>
            <th>Creación</th>
            <th>Administrador</th>
            <th>Activo</th>
            <th></th>
        </thead>
        <tbody>
            <tr id="1">
                <td>Admin</td>
                <td>admin@l2-classic.com</td>
                <td>3</td>
                <td>10/10/2020</td>
                <td><input type="checkbox" checked disabled></td>
                <td><input type="checkbox" checked disabled></td>
                <td></td>
            </tr>
            <tr id="2" class="even">
                <td>Mattsuro</td>
                <td>admin2@l2-classic.com</td>
                <td>1</td>
                <td>10/10/2020</td>
                <td><input type="checkbox" checked></td>
                <td><input type="checkbox" checked></td>
                <td><a class="btn golden full">Actualizar</a></td>
            </tr>
            <tr id="3">
                <td>Samara</td>
                <td>samara@l2-classic.com</td>
                <td>2</td>
                <td>10/10/2020</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox" checked></td>
                <td><a class="btn golden full">Actualizar</a></td>
            </tr>
            <tr id="4" class="even">
                <td>Tiburón</td>
                <td>admin@l2-classic.com</td>
                <td>1</td>
                <td>10/10/2020</td>
                <td><input type="checkbox"></td>
                <td><input type="checkbox"></td>
                <td><a class="btn golden full">Actualizar</a></td>
            </tr>
        </tbody>
    </table>
</div>