<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lineage 2 | Classic</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <!-- CSS para normalizar estilos preseteados, un poquito de trampa :D-->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/default.js"></script>
</head>

<body>
    <header class="half-hero news">
        <div id="header-navigation" class="navigation sticky full"></div>
        <div class="hero-content container">
            <div class="texto-hero">
                <h1>Noticias</h1>
            </div>
        </div>
    </header>
    <main class="info-main">
        <div class="container ratio">
            <div class="content">
                <h2 class="sand">¡Cumplimos 2 años!</h2>
                <p>Festejamos nuestro segundo cumplea&ntilde;os con un evento inolvidable. ¿Te lo perdiste? ¡Desc&uacute;brelo aqu&iacute;!</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore in illum, voluptas ut repudiandae tempora incidunt facilis, officia earum non, nihil beatae ipsam itaque reiciendis animi magni atque inventore. Alias.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima perferendis recusandae, tempora minus praesentium ab, cupiditate, accusantium optio maiores vero in eius et nulla accusamus sapiente architecto magni? Impedit, cupiditate?</p>
            </div>
    </main>
    <footer></footer>
</body>

</html>